.cat {
    height: 200px;
    }

    h1 {
        text-align: center;
        margin: 10px auto;
    }

    .topdiv{
        display: flex;
        justify-content: space-evenly;
        background-color:rgb(36, 173, 228);
        padding: 20px;
    }

    .centerdiv{
        background-color:rgb(177, 113, 177);
        padding: 20px;
        margin-top: 20px;
        display: flex;
        justify-content: space-evenly;
        
    }

    .bottomdiv{
        padding: 20px;
        display: flex;
        justify-content: space-evenly;
    }

    p{
        text-align: center;
    }